<!-- <app-test></app-test> -->
<!-- <app-header [cartArray]="productArray"></app-header> -->
<!-- <app-header></app-header> -->
<!-- <app-content (productAdded)="addToCartAtHeader($event)"></app-content> -->

<!-- <ng-container [ngSwitch]='currentPage'>
<app-content *ngSwitchCase="'content'"></app-content>
<app-add-product *ngSwitchCase="'addProduct'"></app-add-product>
<!-- <div *ngSwitchDefault>Error In Default Of Switch </div> 
</ng-container> -->

<!-- <app-content></app-content>
<app-footer></app-footer> -->


<!-- //-------------------------------------/ -->

<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>